<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EFPersisitenceFramework.dll" version="3.1.0" targetFramework="net472" />
  <package id="EFPF.Interfaces" version="1.1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net472" />
</packages>